<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">To Do List</a>
  <%= link_to "戻る","/" %> 
</nav>

<div>
    <%= form_for(@task) do |f| %>
        <h3>To Do List　の作成</h3>
        <%= f.text_area :title %>
        <%= f.submit "作成"%>
    <% end %>
</div>