<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">To Do List</a>
  <%= link_to "戻る","/" %> 
</nav>

<div>
    <%= form_for(@task) do |f| %>
        <h3>To Do List　の作成</h3>
        <div class="task_title"><%= f.text_area :title %></div>
        <div class="task_sakusei"><%= f.submit "作成"%></div>
    <% end %>
</div>