<div class="todo_box">
        <div class="card-header card-header-padding">
          <ul class="nav nav-tabs card-header-tabs" style="float: left">
            <li id="card-body-todo" class="nav-item #{index} nav-link active">
              To Do 項目
            </li>
            <li id="card-body-list" class="nav-item nav-link">
              コメント
            </li>
            
          </ul>
          <div class="nav-item nav-link" style="text-align: right">
            <%= link_to "更新","/tasks/#{@task.id}/edit" , method: :get %>
            <%= link_to "削除","/tasks/#{@task.id}", method: :delete %>
          </div>
        </div>
        
        <div class="card-body">
          <div class="card-body-todo">
            <h5 class="card-title"><%=@task.title%></h5>
            <p class="card-text">白石</p>
            <p class="card-text">青木</p>
            <p class="card-text">田中</p>
            <a href="#" class="btn btn-primary">完了</a>
          </div>
          <div class="card-body-list">
            <h5 class="card-title"><%=@task.title%></h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      